@import "tailwindcss";

@font-face {
  font-family: "Mostwasted";
  src: url("/fonts/Mostwasted.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.graffiti-title {
  font-family: "Mostwasted", sans-serif;
  font-size: clamp(4rem, 8vw, 10rem);
  line-height: 1;
  text-align: center;
}